:root {
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #666;
}

::-webkit-scrollbar-thumb {
  background: #c2c2c2;
  border-radius: 100px;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.form{
  margin: 20px;
  padding: 20px;
  justify-content: center;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.icon{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.text{
  font-weight: bold;
  font-size: 40px;
  color: #027068;
}

.icon_class>.MuiSvgIcon-root{
  color: #027068;

}





